


li{
    font-size: 10px;
}

header h1{

    background-color: rgb(75, 75, 175);
    color: white;
    border-radius: .3rem;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    text-transform: uppercase;
    padding-top: .8rem;
    padding-bottom: .8rem;
    margin-top: 1rem;
}