body {
    
    background-image: url(../img/grieta.jpg);
}


li{
    font-size: 25px;
}

header h1{

    background-color: rgb(75, 75, 175);
    color: white;
    border-radius: .3rem;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    text-transform: uppercase;
    padding-top: .8rem;
    padding-bottom: .8rem;
    margin-top: 1rem;
    background-image:url(../img/galaxia.jpg);
    padding: 3rem 0;

}

nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    background-color: rgb(75, 75, 175);
    max-width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: .3rem;
    color: white;
    align-items: center;
    padding: 13rem 0;
    background-image: url(../img/134627893.jfif);
}

nav ul li {

    text-transform: uppercase;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.principal{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: aqua;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: .3rem;
    

}